<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qijunsports.chuanghuo.dao.ActivityDao">

    <resultMap id="ActivityMap" type="com.qijunsports.chuanghuo.model.ActivityInfo">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="tag" column="tag"/>
        <result property="describe" column="describe"/>
        <result property="content" column="content"/>
        <result property="beginDate" column="begin_date"/>
        <result property="endDate" column="end_date"/>
        <result property="timePeriod" column="time_period"/>
        <result property="minPeopleNumber" column="min_people_number"/>
        <result property="maxPeopleNumber" column="max_people_number"/>
        <result property="minPrice" column="min_price"/>
        <result property="maxPrice" column="max_price"/>
        <result property="discount" column="discount"/>
        <result property="currentNumber" column="current_number"/>
        <result property="soldNumber" column="sold_number"/>
        <result property="storeName" column="store_name"/>
        <result property="address" column="address"/>
        <result property="longitude" column="longitude"/>
        <result property="latitude" column="latitude"/>
        <result property="fixedTelephone" column="fixed_telephone"/>
        <result property="mobilePhone" column="mobile_phone"/>
        <result property="transportation" column="transportation"/>
        <result property="precautions" column="precautions"/>
        <result property="isDelete" column="is_delete"/>
        <result property="publishDate" column="publish_date"/>
        <result property="updateDate" column="update_date"/>
        <result property="order" column="order"/>
    </resultMap>

    <select id="getAllActivity" resultMap="ActivityMap">
      SELECT *
      FROM activity_info
      WHERE is_delete=0
      ORDER BY `order`
    </select>

    <select id="getActivityById" resultMap="ActivityMap">
      SELECT *
      FROM activity_info
      WHERE id=#{id}
      AND is_delete=0
    </select>

    <insert id="addActivity" parameterType="com.qijunsports.chuanghuo.model.ActivityInfo">
      INSERT INTO activity_info
      (id, title, content)
      VALUES
      (#{activityInfo.id}, #{activityInfo.title}, #{activityInfo.content})
    </insert>

    <update id="updateActivity" parameterType="com.qijunsports.chuanghuo.model.ActivityInfo">
        UPDATE activity_info
        <set>
            <if test="activityInfo.title != null">
                title = #{activityInfo.title},
            </if>
            <if test="activityInfo.content != null">
                content = #{activityInfo.content},
            </if>
            <if test="activityInfo.isDelete != null">
                is_delete = #{activityInfo.isDelete}
            </if>
        </set>
        WHERE id=#{id}
    </update>
</mapper>